/*
 global
*/


body {
    margin: 0;
}

ul {
    list-style: none;
}

h1 {
    margin: 0;
    font-weight: normal;
}








/*
 block
*/


.container {}

.header {
    height: 60px;
}

.nav-ul {}

.mainvisual {
    height: 600px;
    overflow: hidden;
}

.mainvisual img {
    object-fit: cover;
}

/*
 helper
*/

.hp_h-full {
    height: 100%;
}

.hp_w-full {
    width: 100%;
}

.hp_w-lg {
    width: 960px;
}

.hp_flex {
    display: flex;
}

.hp_justify-center {
    justify-content: center;
}

.hp_justfy-between {
    justify-content: space-between;
}

.hp_flex-column {
    flex-direction: column;
}

.hp_mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.hp_px-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.hp_mx-70 {
    margin-left: 70px;
    margin-right: 70px;
}

.hp_pl-70{
    padding-left:70px;
}
.hp_pr-70{
    padding-right:70px;
}
